@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Blaka+Ink&display=swap');

:root {
  --background: #22223b;
  --primary: #4a4e69;
}

#container {
  position: relative;
  width: 920PX;
  height: 420PX;
  background-color: aliceblue;
  margin: 0 auto;
  overflow: auto;
  border-radius: 10px;
}

h1 {
  font-family: 'Amatic SC';
  font-size: 48px;
  color: white;
}

#pop,
#cycle {
  color: white;
  padding: 5px;
}

tr {
  height: fit-content;
}

td {
  border: 1px solid #ccc;
  color: red;
  cursor: cell;
}

.alive {
  background-color: #000;
}

/* style.css */

#grid {
  border-collapse: collapse;
  width: fit-content;
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

body {
  background-color: var(--background);
  padding: 32px;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.starter {
  margin: 10px;
  align-self: center;
}

.icon {
  font-family: 'Material Icons';
}

.zoom {
  position: absolute;
  z-index: 3;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
}

.zoom-in,
.zoom-out {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.stat-ctr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  padding: 2% 12%;
  box-sizing: border-box;
  gap: 5px;


}

.stat,
.control {
  flex: 1;
  display: flex;
  color: white;
  border-radius: 12%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 5px;
}

.stat {
  flex-direction: column;
}

.control {
  flex-direction: column;
}